@media (min-width: 320px) and (max-width:480px){
  .container {
	font-size:10px  
	}
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}


body {
	margin:0px auto;
	padding:0;
	background: url(imgs/lpsBG.jpg) center;
	background-size:Cover; 
	font-family: "Segoe UI";
	}
.row{
  margin-right: -15px;
  margin-left: -15px;
  padding-left:-15px;
  padding-right:-15px;
}

.row, .col-md-3, .col-sm-3, .col-md-4, .col-sm-4 {
	margin-top:10px;
	}

header {
	background: #003466 /*url(imgs/lagos%20law%20school-header.png) no-repeat*/;
	width:100%;
	min-height:102px;
	margin:0px auto;
	padding-bottom:15px;
	position:relative;

	}
header > h3 {
	color:#fff;
	margin-left:20px;
	margin-bottom:0px;
	padding:0px;
	display:block;
	clear:both;
	
	}
#top-nav {
	background:url(imgs/top-nav-bg.png) no-repeat right;
	width:100%;
	min-height:63px;
	position:relative;
	color:#F7C80A;
	}
#top-nav ul {
	margin:0px;
	padding:0px;
	list-style:none;
	float:right;
	
}
#top-nav li {
	float:left;
	margin:10px 10px;
	padding-right:10px;
	text-decoration:none;
	font-size:12px;
	border-right:2px solid #999
	}
#top-nav .last-menu { border-right:none;}

#top-nav li a {
	text-decoration:none;
	color:#F7C80A;
	font-size:12px;
	
	}
#top-nav li a:hover { text-decoration:underline;}
.nav, #portal-login, #watch-us, #news-and-events, .form-group button[type=submit], .inside-bg   {
	background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
	background-image: -ms-linear-gradient(top, #ffffff, #e5e5e5);
	background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
	background-image: linear-gradient(top, #ffffff, #e5e5e5);
	font-size:12px;
	}
.nav li{
	width: auto;
	border-left:2px solid #000;
		color:#000 !important;
	}
.nav  .first-menu {
			border-left:none;
			}
.nav  .active { 
			background:#F7C80A;
			}
.nav  a { color:#000; }
.pg-slider{
	position:relative;
	margin-top:10px;
	margin-bottom:18px;
	background: url(imgs/school-australian-students-blazers.jpg) NO-REPEAT #000;
	min-height:230px;
	background-size:cover;
	}
#slide-text{ 
	max-width:305px;
	color:#fff;
	right:20px;
	position:absolute;
	top:30px;
	font-size:11px;
}
#slide-text > h2,h4{ 
	margin:0px;
	padding:0px;
}
#slide-text >a{
	color:#F7C80A;
	}
#slide-text > a:hover{
	background:#F7C80A;
	color:#000;
	}
.btn-outline-inverse {
	border:solid 1px #fff;
	}
.form-group {
	margin-bottom:5px;
	margin-top:10px;
	}
.form-group  input[type=password], input[type=text], button[type=submit], input[type=checkbox]  {
	border-radius:0px;
	background:#e5e5e5;
	}
.form-group > button[type=submit]  {
	
	}
#portal-login	{
	border-top: solid #00CCFF 5px;
	padding:5px 20px;
	
	min-height:280px;
	}
#portal-login .checkbox	{ width:180px; float:left;}
#portal-login .checkbox  a 	{ font-size:10px; text-decoration:underline; color:#333;}
#portal-login .checkbox  a:hover { color:#000;}

#watch-us {
	border-top:solid #FFCC00 5px;
	height:280px;
	padding:5px 14px;
	}
#news-and-events {
	border-top:solid #900 5px;
	height:280px;
	position:relative;
	padding:5px;
	}
#watch-us a {
	background:url(imgs/play-btn.png) no-repeat;
	width:68px;
	height:34px;
	padding:20 40px;
	position:absolute;
	top:100px;
	left:120px;
	}
#watch-us a:hover {
	background:url(imgs/play-btn_hover.png) no-repeat;
	width:68px;
	height:34px;
	padding:20 40px;
	position:absolute;
	top:100px;
	left:120px;
	}
#portal-login h4, #news-and-events h4,#watch-us > h4 {
	color:#BA9400;
	margin-bottom: 10px;
	}
.vticker{
	height:150px;
}
.vticker ul{
	padding: 0;
}
.vticker li{
	list-style: none;
	padding: 10px;
	height:98px;
	overflow:hidden;
	text-align:justify;
}
.vticker li a{
	color:#000;
	
	}
.vticker li a:hover{text-decoration:none;}
.vticker li:hover{
	background:#ffe;	
}
.vticker li > a img:hover { border:solid 6px #fc0; }
.vticker li img, .inside-bg img { 
	float:left; 
	margin-bottom:5px; 
	margin-right:5px;
	width:90px; 
	height:75px; 
	border:solid 6px #999;
	display:block;
	}
.quick-notice, .academic-calendar, .session > h3, p {
	color:#e5e5e5;
	}
.quick-notice a{
	color:#F7C80A;
	}
.social-media {
	background:url(imgs/social_media_bg.png) no-repeat;
	background-size:cover;
	height:118px;
	padding:5px;
	}
.social-media > h3, h5 {
	margin:0px;
	padding:0px;
	line-height:25px;
	color:#900;
	}
.social-media img {
	margin: 20px 3px;
	}
.social-media a img {
	text-decoration:none;
	} 
[title]{
	position:relative;
}
[title]:after{
	content:attr(title);
	color:#fff;
	background:#333;
	background:rgba(51,51,51,0.75);
	padding:5px;
	position:absolute;
	left:-9999px;
	opacity:0;
	top:100%;
	white-space:nowrap;
	-webkit-transition:0.25s linear opacity;
}
[title]:hover:after{
	top:30px;
	left:5px;
	opacity:1;
}
	
#footer-bar {
	overflow:auto hidden;
	display:block;
	padding:5px;
	}
#footer-bar  h3 {
	color:#F7C80A;
}
#footer-bar ul {
	margin:0px;
	padding:0px;
	list-style:none;
	}
#footer-bar li a {
	color:#e5e5e5;
	line-height:25px;
}
.foot	{
	
	padding:20px;
	color:#fff;
	margin-top:0px;
	}
.inside-bg {
	padding:15px;
	min-height:200px;
	width:100%;
	margin-top:15px;
	}
.inside-bg p{
	color:#000;
	line-height:20px;
	text-align:justify;
	}
.inside-bg img {
	width:190px; 
	height:125px;
	}
.inside-bg h3{
	color:#999;
	}
