body {
    scrollbar-arrow-color: #ffffff;
    scrollbar-base-color: black;
    scrollbar-darkshadow-color: black;
    scrollbar-face-color: #546376;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #cccccc;
    /*background-color: "none";*/
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: black;
}

a:hover {
    font-size: 11px;
    font-family: tahoma, arial, helvetica, sans-serif;
    color: #cccccc;
    text-decoration: underline;
    font-weight: normal;
}

a:link {
    font-size: 11px;
    font-family: tahoma, arial, helvetica, sans-serif;
    color: #FFFF00;
    text-decoration: underline;
    font-weight: normal;
}

a:visited {
    font-size: 11px;
    font-family: ahoma, arial, helvetica, sans-serif;
    color: #FFFF99;
    text-decoration: underline;
    font-weight: normal;
}

a:active {
    font-size: 11px;
    font-family: tahoma, arial, helvetica, sans-serif;
    color: #ffffff;
    text-decoration: underline;
    font-weight: normal;
}

a.a {
    color: #0080FF
}

td {
    font-size: 11px;
    font-family: tahoma, arial, helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

p {
    font-size: 11px;
    font-family: tahoma, arial, helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

h1 {
    font-size: 15px;
    font-family: verdana, tahoma, arial, helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

h1.title {
    border-bottom: 1px solid;
    padding: 10px 0
}

.form {
    border-bottom: 1px dotted;
    padding-bottom: 10px
}

textarea, select, input {
    font-face: verdana, tahoma;
    font-family: verdana, tahoma;
    color: #003366;
    font-weight: normal;
    background: #ffffff;
    text-decoration: none;
    border: 1px solid #AAAAAA
}

.page-title {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px
}

table.list {
    border-collapse: collapse
}

table.list th, table.list td {
    text-align: left;
    padding: 5px 10px;
    border: 1px solid #EFEFEF
}

table.list th {
    font-size: 12px
}

table.list tbody tr.even td {
    background: #FAFAFA;
}

table.list tbody tr.odd td {
    background: #EFEFEF;
}

table.nav a {
    text-decoration: none
}

td.page-content {
    padding: 10px
}

form.inlineform {
    padding-bottom: 10px;
    border-bottom: 1px dotted #CCCCCC;
}

.red {
    color: #ff3333
}

.blue, a.blue {
    color: #0066ff;
    text-decoration: none
}

.green {
    color: #339900
}

div.msg {
    padding: 5px 10px;
    margin-bottom: 10px;
    background: #c6e7bb;
}

div.msg p {
}

button {
    border: 1px solid #CCC
}

button:hover {
    border: 1px solid #AAAAAA;
}

.label {
    padding: 2px 5px;
    display: inline-block;
    color: #FFFFFF
}

.label-danger {
    background: #CC0000;
}

.label-success {
    background: #009900;
}

.num, table.list th.num, table.list td.num {
    text-align: right;
}
