body {
    scrollbar-arrow-color: #ffffff;
    scrollbar-base-color: #006633;
    scrollbar-darkshadow-color: #000000;
    scrollbar-face-color: #003366;
    scrollbar-highlight-color: #cccccc;
    scrollbar-shadow-color: #999999;
    background-color: #ffffff;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    color: #000000;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-x;
}

/* Links */

a:link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 11px;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 11px;
}

a:hover {
    color: #FFFF00;
    text-decoration: underline;
    font-size: 11px;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 11px;
}

/* HomeLinks */

.home a:link {
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
}

.home a:visited {
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
}

.home a:hover {
    color: #FFFF00;
    text-decoration: underline;
    font-size: 11px;
}

.home a:active {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 11px;
}

.border {
    border: 1px solid #D8D8D8;
}

.tblmiddle {
    position: relative;
    top: 10px;
}

.spaceme {
    line-height: 5px;
}

.text {
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #000000;
}

.borderred {
    border: 1px solid #FF0000;
}

#welcombg {
    background-image: url(../images/sbg.jpg);
    background-repeat: no-repeat;
    font-family: Tahoma, Verdana;
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    padding-left: 7px;
    background-color: #82D6E1;
}

.welcombg1 {
    background-attachment: fixed;
    background-image: url(../images/sbg.jpg);
    background-repeat: no-repeat;
    font-family: Tahoma, Verdana;
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    padding-left: 7px;
    background-color: #82D6E1;
}

#text {
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #000000;
}

.borderbluelength {
    border: 1px solid #006699;
    height: 90px;
    padding: 4px;
}

.homebg2 {
    background-attachment: fixed;
    background-image: url(../images/homebg2.jpg);
    background-repeat: no-repeat;
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.borderpurple {
    border: 1px solid #8080FF;
}

.borderred2 {
    border: 1px solid #FF0000;
    height: 219px;
}

.select {
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #000000;
    width: 180px;
}

.textpurple {
    font-family: Tahoma, Verdana;
    font-size: 10px;
    color: #B8BFDC;
}

.borderright {
    border-top: 1px #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-bottom: 1px #D8D8D8;
    border-left: 1px #D8D8D8;
}

.borderleft {
    border-top: 1px #D8D8D8;
    border-right: 1px #D8D8D8;
    border-bottom: 1px #D8D8D8;
    border-left: 1px solid #D8D8D8;
}

.borderbottom {
    border-bottom: 1px solid #FFFFFF;
}

.bgtopic {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3B3B3B;
    font-weight: bold;
    /*background-image: url(../images/bgtopic.jpg);
    background-repeat: repeat;*/
    height: 30px;
    padding-left: 35px;
    padding-right: 35px;
}

#textboldwhite {
    font-family: Tahoma, Verdana;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: normal;
}

#textboldblack {
    font-family: Tahoma, Verdana;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    background-image: url(../images/dbg.jpg);
    background-repeat: no-repeat;
    background-color: #96E0E3;
}

.hrstyle {
    list-style-type: none;
    color: #666666;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-transform: none;
    font-weight: bold;
    font-variant: normal;
    border: dashed;
}

#dbg {
    background-image: url(../images/dbg.jpg);
    background-repeat: no-repeat;
    font-family: Tahoma, Verdana;
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    padding-left: 7px;
}

.borderbluelength2 {
    border: 1px solid #006699;
    height: 195px;
    padding: 4px;
}

input, textarea, select {
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;
    color: #006699;
    border: 1px ridge #72A4D5;
    background-color: #F4F4F7;
}

#leftnavbg {
    background-color: #72A4D5;
}

.foottext {
    font-family: Tahoma, Verdana;
    font-size: 11px;
    color: #FFFFFF;
}