body {scrollbar-arrow-color: #ffffff;
scrollbar-base-color: #006633;
scrollbar-darkshadow-color: #000000;
scrollbar-face-color: #A63600;
scrollbar-highlight-color: #cccccc;
scrollbar-shadow-color: #999999;
background-color: #ffffff;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
color: #000000;
}
	a:hover {font-size: 11px; font-family: tahoma,arial,helvetica,sans-serif; color: #cccccc; text-decoration: underline; font-weight: normal;}
	a:link {font-size: 11px; font-family: tahoma,arial,helvetica,sans-serif; color: #FFFF00; text-decoration:underline; font-weight: normal;}
	a:visited {font-size: 11px; font-family: ahoma,arial,helvetica,sans-serif; color: #FFFF99; text-decoration: underline; font-weight: normal;}
	a:active {font-size: 11px; font-family: tahoma,arial,helvetica,sans-serif; color: #ffffff; text-decoration:underline; font-weight: normal;}
	td {font-size: 12px; font-family: tahoma,arial,helvetica,sans-serif; color: #000000; text-decoration:none; font-weight: normal;}
	p {font-size: 12px; font-family: tahoma,arial,helvetica,sans-serif; color: #000000; text-decoration:none; font-weight: normal;}
	h1 {font-size: 15px; font-family: verdana,tahoma,arial,helvetica,sans-serif; color: #000000; text-decoration:none; font-weight: bold;}
	textarea,option,select,input {font-face: verdana,tahoma; font-family: verdana,tahoma; font-size: 12px; color: #003366; font-weight: normal; background: #ffffff; text-decoration:none}