.unnamed1 {
	font-family: Tahoma, Verdana;
	font-size: 13px;
	color: #0066CC;
	padding: 1px;
	height: auto;
	width: 100%;
	background-color: #EFEFEF;

}
.unnamed2 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.unnamed3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	color: #006699;
}
.unnamed4 {
	font-family: "Trebuchet MS", "Futura Md";
	font-size: 16px;
	font-weight: bold;
	color: #006699;
	padding: 15px;
}
.unnamed2Copy {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;

}
.unnamed1Copy {

	font-family: Tahoma, Verdana;
	font-size: 12px;
	color: #000000;
	padding: 1px;
	height: auto;
	width: 100%;
}
